.app {
  display: flex;
  justify-content: center;
}
.container {
  width: 1024px;
}

/* Login and Register page*/

.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--verylightgrey);
  height: 100vh;
}

.login h1,
.register h1 {
  font-size: 20px;
  color: var(--darkgrey);
  margin: 20px;
}
.login form,
.register form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  width: 330px;
  gap: 20px;
}
.login form input,
.register form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid grey;
}
.login form button,
.register form button {
  padding: 10px;
  border: none;
  background-color: var(--mediumgrey);
  color: var(--darkyellow);
  cursor: pointer;
}
.login form p,
.register form p {
  font-size: 12px;
  color: red;
  text-align: center;
}
.login form span,
.register form span {
  font-size: 12px;
  text-align: center;
}

/* Home page  */

.home .posts {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background-color: aliceblue;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home img {
  height: 300px;
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  position: relative;
  border: 5px solid var(--darkyellow);
  cursor: pointer;
  object-fit: cover;
}
.home img:hover {
  height: 310px;
  width: 360px;
}

.home .content {
  width: 75%;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home h1 {
  font-size: 20px;
  margin: 10px auto;
}

/* SingleProduct Page */

.single {
  display: flex;
  gap: 50px;
}

.single .content {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.single .content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.single .content .buyoption {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.single .content .price {
  font-weight: bold;
  font-size: 20px;
}
.single .content button {
  width: fit-content;
  padding: 10px 20px;
  border-style: none;
  background-color: var(--darkyellow);
  font-weight: bold;
}
.single .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
.single span {
  font-weight: bold;
}
.single .user .edit img {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 20px;
}

.single .menu {
  flex: 2;
}

.single .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.single .user .edit {
  display: flex;
}
.single .user .edit img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 2px;
}
.single .content p {
  text-align: justify;
}

/* SingleProduct page - menu section */

.single .menu {
  flex: 2;
}

/* Sell page  */
.sell {
  margin: top 20pxl;
  display: flex;
  gap: 20px;
}
.sell .content{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.sell .content input{
  padding:10px;
  border:1px solid lightgray;
}

.sell .content .sellorContainer{
  height: 300px;
  overflow: scroll;
  border: 1px solid lightgray;
}

.sell .content .sellorContainer .editor{
  height: 100%;
  border:none;
}

.sell .menu{
    flex: 2;
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.sell .menu .item{
  border: 1px solid lightgray;
  padding: 10px;
  flex:1;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  font-size: 12px;
}

.sell .menu .item h1{
  font-size: 20px;
}

.sell .menu .item .file{
  text-decoration:underline;
  cursor:pointer;
}

.sell .input-file{
  display:none;
}

.sell .price{
  width: 75px;
}

.sell .button{
  display:flex;
  gap:30px;
}

.sell .button .save{
  cursor:pointer;
  border: 1px solid darkgray;
}

.sell .button .update{
background-color: var(--darkyellow);
border: 1px solid darkgray;
cursor:pointer;
}

.sell .category{
  display: flex;
  gap: 10px;
}

/* animaltoys page */
/* cartraintoys page*/
/* dollsofttoys page */
/* legotoys page */
.animal .heading,
.cartrain .heading,
.lego .heading,
.doll .heading{
  /* background-color:aliceblue; */
height: 80px;
  position:relative
}

.animal .heading h1,
.cartrain .heading h1,
.lego .heading h1,
.doll .heading h1{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  justify-content: center;
  position:absolute;
  top: 90%;
}

.animal .posts,
.cartrain .posts,
.lego .posts,
.doll .posts{
  display:grid;
  grid-template-columns: 30% 30% 30%;

  /* background-color: aliceblue; */
  gap: 30px;
  align-items:center;
  justify-content:center;
}
.animal .posts .post,
.cartrain .posts .post,
.lego .posts .post,
.doll .posts .post{
margin: 150px 0;
height: 370px;
  border: 1px solid grey;
  position:relative;
}

.animal img,
.cartrain img,
.lego img,
.doll img{
  height:200px;
  width: 250px;
  display:flex;
  justify-content: center;
  margin: 20px auto;
}

.animal img:hover,
.cartrain img:hover,
.lego img:hover,
.doll img:hover{
    height: 205px;
    width: 255px;
}

.animal p,
.cartrain p,
.lego p,
.doll p{
  font-size: 20px;
  padding: 0px 20px;
}

.animal h3,
.cartrain h3,
.lego h3,
.doll h3{
  font-size: 20px;
  text-align: center;
  padding:5px;
  height: 50px;
}

.animal button,
.cartrain button,
.lego button,
.doll button{
  padding: 10px;
  border: none;
  background-color: var(--darkyellow);
  color: var(--mediumgrey);
  cursor: pointer;
border-radius:3px;
position:absolute;
left: 55%;
}
